<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-md-7">
      <app-video-player
        (timeUpdate)="onTimeUpdate($event)"
        [videoSrc]="selectedVideo"
        [poster]="selectedThumbnail"
      ></app-video-player>
    </div>
    <div class="col-12 col-md-5">
      <div class="lectures-section">
        <div class="lectures-section__title-section">
          <p>Lectures Section</p>
          <p>{{ course.totalDuration | formatTime }}</p>
        </div>
        <div class="lectures-section__lectures-container">
          <div
            *ngFor="let lecture of course.sections[0].lectures; let i = index"
            class="lectures-container__single-lecture"
          >
            <div>
              <p class="single-lecture__lecture-count">{{ i + 1 }}</p>
            </div>
            <div>
              <p class="single-lecture__lecture-duration">
                <i class="bi bi-clock"></i> {{ lecture.duration | formatTime }}
              </p>
              <p class="single-lecture__lecture-title">
                {{ lecture.title }}
              </p>
            </div>
            <i class="bi bi-play-circle single-lecture__play-icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-md-7">
      <p class="course-title">{{ course.title }}</p>
      <p class="course-description">
        {{ course.description }}
      </p>
      <div class="instructor-container">
        <img
          class="instructor-container__img"
          [src]="course.creators[0].profilePicture"
          alt="Ins"
        />
        <div>
          <p class="instructor-container__name">
            {{ course.creators[0].firstName }}
            {{ course.creators[0].lastName }}
          </p>
          <p class="instructor-container__designation">
            {{ course.creators[0].designation }}
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-12 col-md-7">
      <h3>Course Modules</h3>
      <div class="course-modules-container">
        <div
          *ngFor="let module of course.sections"
          class="course-modules-container__module"
        >
          <img
            class="course-module__thumbnail"
            [src]="module.lectures[0].thumbnail"
            alt=""
          />
          <div>
            <p class="course-module__name">Module 1: {{ module.title }}</p>
            <p class="course-module__sections">
              {{ module.lecturesCount }} lectures
            </p>
          </div>
          <p class="course-module__duration">
            {{ module.lecturesDuration | formatTime }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
