@import "./../../variables";

.navbar {
  box-shadow: rgba(42, 51, 70, 0.1) 0px 4px 8px 0px;
}
.navbar-nav .bi {
  font-size: 26px;
}
.dropdown-item {
  cursor: pointer;
}
.nav-link {
  cursor: pointer !important;
}
.navbar-expand-lg .navbar-nav {
  align-items: center;
}
.login-btn {
  background-color: $primary-color;
  border: none;
  padding: 6px 14px;
  color: #fff;
  border-radius: 2px;
  margin: 10px 0;
}
