<div class="modal-header">
  <h4 class="modal-title">Student Profile</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-5">
      <div class="profile-picture-container">
        <img
          class="profile-picture-container__img w-75 ms-2"
          src="./../../../../../assets/dummy-instructor.svg"
          alt=""
        />
      </div>
    </div>
    <div class="col-7">
      <label for="">Frist Name:</label>
      <p>Dvaid J</p>
      <label for="">Last Name:</label>
      <p>Malan</p>
      <label for="">Email:</label>
      <p>davidjmalan&#64;gmail.com</p>
    </div>
  </div>
</div>
<!-- <div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="closeModal()">
    Close
  </button>
</div> -->
