<div class="modal-header">
  <h4 class="modal-title">Student Profile</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-5">
      <div class="profile-picture-container">
        <img
          class="profile-picture-container__img p-2 ms-2"
          [src]="student.profilePicture"
          alt=""
        />
      </div>
    </div>
    <div class="col-7">
      <label for="">Frist Name:</label>
      <p>{{ student.firstName }}</p>
      <label for="">Last Name:</label>
      <p>{{ student.lastName }}</p>
      <label for="">Email:</label>
      <p>{{ student.email }}</p>
    </div>
  </div>
</div>
