<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-12 col-md-6">
      <div class="course-details">
        <p class="course-details__title">
          {{ course.title }}
        </p>
        <p class="course-details__description">
          {{ course.description }}
        </p>

        <div class="course-details__instructor-container">
          <img
            class="course-details__instructor-profilepic"
            [src]="course.creators[0].profilePicture"
            alt=""
          />
          <div>
            <p class="course-details__instructor-name">
              {{ course.creators[0].firstName }}
              {{ course.creators[0].lastName }}
            </p>
            <p class="course-details__instructor-designation">
              {{ course.creators[0].designation }}
            </p>
          </div>
        </div>

        <div class="course-duration-container">
          <i class="bi bi-clock"></i>
          <div>{{ course.totalDuration | formatTime }}</div>
        </div>

        <div class="course-details__price-container">
          <p>$ {{ course.price.value }}</p>
          <p>70 Already Enrolled</p>
        </div>

        <button
          routerLink="/cart/shopping-cart"
          class="course-details__enroll-btn"
        >
          Add to Cart
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <img class="course-details__thumnail" [src]="course.image" alt="" />
    </div>
  </div>

  <div class="row pt-3 pb-3">
    <div class="col-12 col-md-4">
      <div class="course-metrics-card">
        <i class="bi bi-file-earmark-text-fill"></i>
        <p>Modules</p>
        <p>{{ course.totalSectionsCount }}</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="course-metrics-card">
        <i class="bi bi-camera-video-fill"></i>
        <p>Lectures</p>
        <p>{{ course.totalLecturesCount }}</p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="course-metrics-card">
        <i class="bi bi-award"></i>
        <p>Certified by</p>
        <p>Harvard</p>
      </div>
    </div>
  </div>

  <div class="row instructor-details mt-5 mx-auto">
    <div class="col-12 col-md-6">
      <div class="d-flex align-items-center">
        <img
          class="instructor-details__instructor-image"
          [src]="course.creators[0].profilePicture"
          alt=""
        />
        <div class="text-center">
          <p>Instructed by</p>
          <p class="instructor-details__instructor-name">
            {{ course.creators[0].firstName }} {{ course.creators[0].lastName }}
          </p>
          <p class="instructor-details__instructor-description">
            He is Gordon McKay Professor of the Practice of Computer Science at
            Harvard University in the School of Engineering and Applied Sciences
            as well as a Member of the Faculty of Education in the Graduate
            School of Education.
          </p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6 align-self-center">
      <div class="d-flex align-items-center justify-content-around text-center">
        <div>
          <p class="instructor-details__metric">700</p>
          <p>Happy Students</p>
        </div>
        <div>
          <p class="instructor-details__metric">600+</p>
          <p>Workshop</p>
        </div>
        <div>
          <p class="instructor-details__metric">100k</p>
          <p>Followers</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-5 pt-3 mb-5 pb-5">
    <h3 class="mb-4">What You will learn in this Course</h3>
    <p *ngFor="let value of course.materialsAndOffers">
      <img src="./../../../assets/check.png" alt="" />
      {{ value }}
    </p>
  </div>
</div>
