<div class="container">
  <h3 class="mt-5">Welcome back Ashwin! 👋</h3>
  <h2>Your Progress</h2>
  <div class="progress-container">
    <img
      class="progress-container__thumbnail"
      src="./../../../assets/dummy-course.svg"
      alt=""
    />
    <div class="w-100 pe-5">
      <p class="progress-container__course-name">
        Fundamentals of Digital Marketing
      </p>
      <p class="progress-container__date-started">Started on 12/07/2023</p>
      <p>
        <ngb-progressbar
          class="progress-container__progressbar"
          [showValue]="true"
          [value]="50"
          [striped]="true"
          [animated]="true"
          height="1.3rem"
        ></ngb-progressbar>
      </p>
      <p class="progress-container__modules-completed">20 of 30 Modules</p>
      <div class="text-end">
        <button
          routerLink="/course/course-video-player"
          class="progress-container__continue-btn"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
  <h2>Explore Courses</h2>
  <div class="row mt-4">
    <div class="col-4">
      <div class="course-card" routerLink="/course/course-details">
        <div class="course-card__thumbnail-container">
          <img
            class="course-card__thumbnail"
            src="./../../../assets/dummy-course.svg"
            alt=""
          />
          <div class="course-card__duration">
            <i class="bi bi-clock"></i>
            <div>10 hrs 10 mins</div>
          </div>
        </div>
        <div class="course-card__body">
          <p class="course-card__category">Development</p>
          <p class="course-card__title">Introduction to Python Programming</p>
          <p class="course-card__description mb-5">
            Python is a popular programming language. It was created by Guido
            van Rossum, and released in 1991.
          </p>

          <div class="d-flex align-items-center mb-4">
            <img
              class="course-card__instructor-profilepic"
              src="./../../../assets/dummy-instructor.svg"
              alt=""
            />
            <div>
              <p class="course-card__instructor-name">David J.Malan</p>
              <p class="course-card__instructor-designation">
                Harvard University
              </p>
            </div>
            <p class="course-card__price">$ 450</p>
          </div>
          <button class="course-card__enroll-btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="course-card">
        <div class="course-card__thumbnail-container">
          <img
            class="course-card__thumbnail"
            src="./../../../assets/dummy-course.svg"
            alt=""
          />
          <div class="course-card__duration">
            <i class="bi bi-clock"></i>
            <div>10 hrs 10 mins</div>
          </div>
        </div>
        <div class="course-card__body">
          <p class="course-card__category">Development</p>
          <p class="course-card__title">Introduction to Python Programming</p>
          <p class="course-card__description mb-5">
            Python is a popular programming language. It was created by Guido
            van Rossum, and released in 1991.
          </p>

          <div class="d-flex align-items-center mb-4">
            <img
              class="course-card__instructor-profilepic"
              src="./../../../assets/dummy-instructor.svg"
              alt=""
            />
            <div>
              <p class="course-card__instructor-name">David J.Malan</p>
              <p class="course-card__instructor-designation">
                Harvard University
              </p>
            </div>
            <p class="course-card__price">$ 450</p>
          </div>
          <button class="course-card__enroll-btn">Enroll Now</button>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="course-card">
        <div class="course-card__thumbnail-container">
          <img
            class="course-card__thumbnail"
            src="./../../../assets/dummy-course.svg"
            alt=""
          />
          <div class="course-card__duration">
            <i class="bi bi-clock"></i>
            <div>10 hrs 10 mins</div>
          </div>
        </div>
        <div class="course-card__body">
          <p class="course-card__category">Development</p>
          <p class="course-card__title">Introduction to Python Programming</p>
          <p class="course-card__description mb-5">
            Python is a popular programming language. It was created by Guido
            van Rossum, and released in 1991.
          </p>

          <div class="d-flex align-items-center mb-4">
            <img
              class="course-card__instructor-profilepic"
              src="./../../../assets/dummy-instructor.svg"
              alt=""
            />
            <div>
              <p class="course-card__instructor-name">David J.Malan</p>
              <p class="course-card__instructor-designation">
                Harvard University
              </p>
            </div>
            <p class="course-card__price">$ 450</p>
          </div>
          <button class="course-card__enroll-btn">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
