<div class="container">
  <h3 class="mt-5">Welcome back Ashwin! 👋</h3>
  <h2>Your Progress</h2>
  <div class="progress-container">
    <img
      class="progress-container__thumbnail"
      src="./../../../assets/dummy-course.svg"
      alt=""
    />
    <div class="w-100 pe-5">
      <p class="progress-container__course-name">
        Fundamentals of Digital Marketing
      </p>
      <p class="progress-container__date-started">Started on 12/07/2023</p>
      <p>
        <ngb-progressbar
          class="progress-container__progressbar"
          [showValue]="true"
          [value]="50"
          [striped]="true"
          [animated]="true"
          height="1.3rem"
        ></ngb-progressbar>
      </p>
      <p class="progress-container__modules-completed">20 of 30 Modules</p>
      <div class="text-end">
        <button
          routerLink="/course/course-video-player"
          class="progress-container__continue-btn"
        >
          Continue
        </button>
      </div>
    </div>
  </div>
  <h2>Explore Courses</h2>

  <div class="filter-container mt-3">
    <div class="row">
      <div class="col-8">
        <p class="mb-1">Search</p>
      </div>
      <div class="col-4">
        <p class="mb-1">Filter by Category</p>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <input class="filter-container__search-bar" type="search" />
      </div>
      <div class="col-4">
        <select
          class="form-select filter-container__select"
          aria-label="Default select example"
        >
          <option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div *ngFor="let course of courses" class="col-4">
      <div class="course-card" routerLink="/course/course-details">
        <div class="course-card__thumbnail-container">
          <img class="course-card__thumbnail" [src]="course.image" alt="" />
          <div class="course-card__duration">
            <i class="bi bi-clock"></i>
            <div>{{ formatCourseDuration(course.totalDuration) }}</div>
          </div>
        </div>
        <div class="course-card__body">
          <p class="course-card__category">{{ course.category }}</p>
          <p class="course-card__title">{{ course.title }}</p>
          <p class="course-card__description mb-5">
            {{ course.description }}
          </p>

          <div class="d-flex align-items-center mb-4">
            <img
              class="course-card__instructor-profilepic"
              [src]="course.creators[0].profilePicture"
              alt=""
            />
            <div>
              <p class="course-card__instructor-name">
                {{ course.creators[0].firstName }}
                {{ course.creators[0].lastName }}
              </p>
              <p class="course-card__instructor-designation">
                {{ course.creators[0].designation }}
              </p>
            </div>
            <p class="course-card__price">$ {{ course.price.value }}</p>
          </div>
          <button class="course-card__enroll-btn">Enroll Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
