<div class="container">
  <h3 class="mt-5">Welcome back! 👋</h3>
  <ng-container *ngIf="lastViewedCourse">
    <h2>Your Progress</h2>
    <div class="progress-container">
      <img class="progress-container__thumbnail" [src]="lastViewedCourse.image" alt="" />
      <div class="w-100 pe-5">
        <p class="progress-container__course-name">
          {{ lastViewedCourse.title }}
        </p>
        <p class="progress-container__date-started">Category - {{lastViewedCourse.category}}</p>
        <p class="progress-container__lastviewed-lecture">Last viewed lecture -
          {{lastViewedCourse.lastViewedLecture?.title}}
        </p>

        <p>
          <ngb-progressbar class="progress-container__progressbar" [showValue]="true"
            [value]="lastViewedCourse && lastViewedCourse.lastViewedLecture ? ((lastViewedCourse.lastViewedLecture.watchDuration/lastViewedCourse.lastViewedLecture.duration)* 100) : 0"
            [striped]="true" [animated]="true" height="1.3rem"></ngb-progressbar>
        </p>
        <!-- <p class="progress-container__modules-completed">20 of 30 Modules</p> -->
        <div class="text-end">
          <button [routerLink]="['/course-video-player', lastViewedCourse.id]" class="progress-container__continue-btn">
            Continue
          </button>
        </div>
      </div>
    </div>
  </ng-container>
  <h2>Explore Courses</h2>

  <div class="filter-container mt-3">
    <!-- <div class="row">
      <div class="col-12 col-md-8"></div>
      <div class="col-4 col-md-4">
        <p class="mb-1">Filter by Category</p>
      </div>
    </div> -->
    <form>
      <div class="row">
        <div class="col-12 col-md-8">
          <p class="mb-1">Search</p>

          <input class="filter-container__search-bar" type="search" [(ngModel)]="searchString"
            (ngModelChange)="exploreCourses(searchString, selectedCategories)" name="searchString" />
        </div>
        <div class="col-7 col-md-4 mt-3 mt-md-0">
          <p class="mb-1">Filter by Category</p>

          <ng-multiselect-dropdown [placeholder]="'Select Categories'" [settings]="dropdownSettings" [data]="categories"
            [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)"
            name="categories" (ngModelChange)="exploreCourses(searchString, selectedCategories)">
          </ng-multiselect-dropdown>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="courses && courses.length > 0; else noCourses">
  <div class="row mt-4">
      <div *ngFor="let course of courses" class="col-12 col-md-4">
        <div class="course-card h-100" [routerLink]="['./course-details', course.id]">
          <div class="course-card__thumbnail-container">
            <img class="course-card__thumbnail" [src]="course.image" alt="" />
            <div class="course-card__duration">
              <i class="bi bi-clock"></i>
              <div>{{ course.totalDuration | formatTime }}</div>
            </div>
          </div>
          <div class="course-card__body">
            <p class="course-card__category">{{ course.category }}</p>
            <p class="course-card__title">{{ course.title }}</p>
            <p class="course-card__description mb-5">
              {{ course.description }}
            </p>

            <div class="d-flex align-items-center mb-4">
              <img class="course-card__instructor-profilepic" [src]="course.creators[0].profilePicture" alt="" />
              <div>
                <p class="course-card__instructor-name">
                  {{ course.creators[0].firstName }}
                  {{ course.creators[0].lastName }}
                </p>
                <p class="course-card__instructor-designation">
                  {{ course.creators[0].designation }}
                </p>
              </div>
              <p class="course-card__price">$ {{ course.price.value }}</p>
            </div>
            <button *ngIf="course.isStudentEnrolledForCourse; else addToCartBtn"
              [routerLink]="['/course-video-player', course.id]" (click)="$event.stopPropagation()"
              class="course-card__enroll-btn">
              Continue
            </button>
            <ng-template #addToCartBtn>
              <button (click)="addCourseToCart($event, course.id)" class="course-card__enroll-btn">
                Add to Cart
              </button>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
</div>
    <ng-template #noCourses>
      <p>No available courses</p>
    </ng-template>
</div>