<!-- <div
  id="g_id_onload"
  data-client_id="164213590143-ujsspenpc39sqaberu30qclrbppga4cc.apps.googleusercontent.com"
  data-context="signin"
  data-ux_mode="popup"
  data-login_uri="http://localhost:4200"
  data-auto_prompt="false"
  data-response_type="auth_code"
  data-callback="handleCredentialResponse"
  data-scope="openid profile email"
></div>

<div
  class="g_id_signin"
  data-type="standard"
  data-shape="rectangular"
  data-theme="outline"
  data-text="signin_with"
  data-size="large"
  data-logo_alignment="left"
></div> -->

<button class="google-signin-btn" (click)="signInWithGoogle()">
  <img src="./../../../../../assets/google-icon.png" alt="" />
  Sign in with Google
</button>
