<div class="row wrapper-row m-0">
  <div class="col-12 col-md-5">
    <img src="./../../../assets/signup-illustration.svg" alt="" />
  </div>
  <div class="col-12 col-md-7">
    <form class="auth-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <h3>LMS-Register</h3>
      <div class="mb-3">
        <label for="firstName" class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          id="firstName"
          formControlName="firstName"
        />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          id="lastName"
          formControlName="lastName"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="exampleInputPassword1"
          formControlName="password"
        />
      </div>

      <button
        type="submit"
        class="btn auth-form__primary-btn"
        [disabled]="signupForm.invalid"
      >
        Submit
      </button>
      or
      <span class="auth-form__secondary-btn" routerLink="../login">Login</span>
      if you are an old user!
    </form>
  </div>
</div>
