<div class="row wrapper-row m-0">
  <div class="col-12 col-md-5">
    <img src="./../../../assets/reset-password-illustration.svg" alt="" />
  </div>
  <div class="col-12 col-md-7">
    <form
      class="auth-form"
      [formGroup]="resetPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <h3>LMS-Reset Password</h3>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
      </div>
      <div class="mb-3">
        <label for="verification" class="form-label">Verification</label>
        <input
          type="text"
          class="form-control"
          id="verification"
          formControlName="verificationCode"
        />
      </div>
      <div class="mb-3">
        <label for="newPassword" class="form-label">New Password</label>
        <input
          class="form-control"
          id="newPassword"
          formControlName="password"
          autocomplete="off"
          type="password"
        />
      </div>

      <button
        type="submit"
        class="btn auth-form__primary-btn"
        [disabled]="resetPasswordForm.invalid"
      >
        Reset
      </button>
    </form>
  </div>
</div>
