<div class="container">
  <h2>My Learning</h2>
  <div class="row">
    <div *ngFor="let course of courses" class="col-4">
      <div class="course-card" [routerLink]="['./course-details', course.id]">
        <div class="course-card__thumbnail-container">
          <img class="course-card__thumbnail" [src]="course.image" alt="" />
          <div class="course-card__duration">
            <i class="bi bi-clock"></i>
            <div>{{ course.totalDuration | formatTime }}</div>
          </div>
        </div>
        <div class="course-card__body">
          <p class="course-card__category">{{ course.category }}</p>
          <p class="course-card__title">{{ course.title }}</p>
          <p class="course-card__description mb-5">
            {{ course.description }}
          </p>

          <div class="d-flex align-items-center mb-4">
            <img
              class="course-card__instructor-profilepic"
              [src]="course.creators[0].profilePicture"
              alt=""
            />
            <div>
              <p class="course-card__instructor-name">
                {{ course.creators[0].firstName }}
                {{ course.creators[0].lastName }}
              </p>
              <p class="course-card__instructor-designation">
                {{ course.creators[0].designation }}
              </p>
            </div>
            <p class="course-card__price">$ {{ course.price.value }}</p>
          </div>
          <button class="course-card__enroll-btn">Continue Learning</button>
        </div>
      </div>
    </div>
  </div>
</div>
