<div class="row wrapper-row m-0">
  <div class="col-12 col-md-5">
    <img src="./../../../assets/forgot-password-illustration.svg" alt="" />
  </div>
  <div class="col-12 col-md-7">
    <form
      class="auth-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <h3>LMS-Forgot Password</h3>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
        />
      </div>

      <button
        type="submit"
        class="btn auth-form__primary-btn"
        [disabled]="forgotPasswordForm.invalid"
      >
        Send
      </button>
    </form>
    <!-- <app-google-signin></app-google-signin> -->
  </div>
</div>
