<div class="modal-header">
  <h4 class="modal-title">Student Profile</h4>
  <button
    type="button"
    class="btn-close"
    aria-label="Close"
    (click)="closeModal()"
  ></button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-5">
      <div class="profile-picture-container">
        <img
          class="profile-picture-container__img p-2 ms-2"
          [src]="student.profilePicture"
          alt=""
        />
      </div>
    </div>
    <div class="col-7">
      <form [formGroup]="editStudentForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            formControlName="firstName"
          />
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            formControlName="lastName"
          />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            formControlName="email"
            aria-describedby="emailHelp"
          />
        </div>
        <button type="submit" class="btn submit-btn">Submit</button>
      </form>
    </div>
  </div>
</div>
